body {
    margin: 0; 
     text-align: center; 
     font-family: 'Merriweather', serif;
     background-image: linear-gradient( #f47400, #f08b29, #ec9e47, #e9b065, #e7c084);
}

.activities{
    text-align: center;
    margin: 80px auto;
    padding: 40px auto 30px;
    border: 5px solid rgb(87, 57, 1);
    border-radius: 20%;
    width: 500px;
    height: 500px;
} 

#activities {
    display: grid;
    align-items:baseline;
    
}


#pfp {
    border: 5px solid rgb(6, 197, 255);
    border-radius: 20%;
}



#guide {
    margin: 80px auto;
}
